<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Academy</title>
<meta name="author" content="Jorge Mira">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
</head>
<body>
<!-- CABEÇALHO -->
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<!-- INICIO LOGO -->
			<a class="navbar-brand" th:href="@{/}">
				<img src="img/logo_header-site.png" width="200px"/>
			</a>
			<!-- FIM LOGO -->
			
			<!-- INICIO BTN MOBILE HAMBURGUER -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>			
			</button>
			<!-- FIM BTN MOBILE HAMBURGUER -->
			
			<!-- INICIO MENU -->
			<div id="navMobile" class="navbar-collapse collapse justify-content-end">
				<a class="btn-nav nav-item nav-link" th:href="@{/}"><i class="fas fa-home"></i> Inicio</a>
				<a class="btn-nav nav-item nav-link" th:href="@{inserirAlunos}"><i class="fas fa-user"></i> Cadastrar</a>
				<a class="btn-nav nav-item nav-link" th:href="@{alunos-adicionados}"><i class="fas fa-search"></i> Encontrar</a>
				<a class="btn-nav nav-item nav-link btn-dark"><i class="fas fa-times"></i> Sair</a>
			</div>
			<!-- FIM MENU -->		
		</nav>
	</header>
	
	<!-- FOOTER -->
	<footer th:fragment="rodape">
		<div class="rodape">
			<span>Cadastro 2021 - Jorge Mira</span>
		</div>
	</footer>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>