@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
body{
	background-color: #000;
	color: #a9a9a9;	
}
nav{
	height: 90px;
	background-color: #212121;
	text-transform: uppercase;
}
a{
	cursor: pointer;
	font-weight: bold;
}
a.btn-nav{
	color:#a9a9a9;
}
a.btn-nav:hover{
	color:#0E4B42;
}
.neo-section{
	min-height: 700px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat ;
	width: 100%;
	padding: 30px;
	position: relative;
}
.wm{
	width: 50%;
	float: left;

}
.clear{clear:both;}
.center{text-align: center}
.neo-container{
	max-width: 1280px;
	padding: 2% 2%;
	margin: 0 auto;
	margin-top: 200px;
}
.sombra{
	width: 100%;
	height: 100%;
	top:0; 
	left:0;
	position: absolute;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}
.neo-section > .neo-container{
	position: relative;
	z-index: 105 
}
.texto-centro{
	color:#f2f2f2;
	font-size: 3em;
	font-family: 'Fjalla One';
	font-weight: bold;
}
.btn{
	width: 280px;
	color: #0E4B42;
	border-radius: 10px;
	border: 3px solid #0E4B42;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
}
.btn-form{color:red}
.botoes{
	padding: 2% 8%;
}
.btn:hover{
	background-color: rgba(0,0,0,0.5);
	color:#a9a9a9;
	border:3px solid #a9a9a9;
}
.rodape{
	background-color: #212121;
	text-align: center;
	font-size: 1.00em; 
	padding:15px; 
}
/* RESPONSIVIDADE, QUANDO O NAVEGADOR CHEGAR NO TAMANHO MAX-WIDTH xxxx*/
@media screen and (max-width:991px){
	.wm{width: 100%;}
	nav{height: 100%;}
	.neo-container{margin-top:120px}
}
.text-color{
	color:#f2f2f2 !important;
}
