<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>+ Inserir Cadastro</title>
<meta name="author" content="Jorge Mira">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
</head>
<body>

	<!-- FRAGMENTO DO CABECALHO -->
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<div class="container" style="margin-top:20px ">
		<h4>+ Inserir Cadastro</h4>
		<hr>
		<br>
		<form method="post" action="/InsertAlunos" th:object="${aluno}">
			
			<!-- INPUT NOME -->
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
					<label>Nome do Aluno</label>
					<input placeholder="" class="form-control bg-dark text-color" th:field="*{nome}">
				</div> 
			</div>
			
			<!-- INPUT CURSO -->
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
					<label>Selecione o Curso</label>
					<select class="form-control bg-dark text-color" th:field="*{curso}">
						<option th:each="curso : ${T(br.com.academy.Enums.Curso).values()}"
						th:value="${curso}" th:text="${curso}"></option>
					</select>
				</div> 
			</div>
			
			<!-- INPUT MATRICULA -->
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
					<label>Gerar Matricula</label>
					<input class="form-control bg-dark text-color"  id="matricula" th:field="*{matricula}">
					<button type="button" onclick="GerarMatricula();" class="btn btn-dark" style="margin-top: 10px">Gerar Matricula</button>
				</div> 
			</div>
			
			<!-- INPUT STATUS -->
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
					<label>Selecione o Status</label>
					<select class="form-control bg-dark text-color" th:field="*{status}">
						<option th:each="status : ${T(br.com.academy.Enums.Status).values()}"
						th:value="${status}" th:text="${status}"></option>
					</select>
				</div> 
			</div>
			
			<!-- INPUT TURNO -->
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
					<label>Turno</label>
					<input placeholder="" class="form-control bg-dark text-color" th:field="*{turno}">
				</div> 
			</div>
			
			<div class="row">
				<button type="submit" class="btn btn-sucess offset-md-3">CADASTRAR</button>
				&nbsp;
				<button type="button" class="btn btn-sucess">VOLTAR</button>
			</div>
					
		</form>
		
	</div>
<script src="js/main.js"></script>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>