<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Academy</title>
<meta name="author" content="Jorge Mira">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
</head>
<body>
<!-- FRAGMENTO DO CABECALHO -->
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<div class="container">
		<h3>Últimos Cadastros Adicionados</h3>
		<hr>
		
		<table class="table table-bordered table-hover">
			<thead>
				<th scope="col">Nome</th>
				<th scope="col">Curso</th>
				<th scope="col">Matricula</th>
				<th scope="col">Status</th>
				<th scope="col">Turno</th>
				<th scope="col">Ações</th>
				
			</thead>	
			<tbody>
				<tr scope="row" th:each="alunos : ${alunosList}">
					<td th:text="${alunos.nome}"></td>
					<td th:text="${alunos.curso}"></td>
					<td th:text="${alunos.matricula}"></td>
					<td th:text="${alunos.status}"></td>
					<td th:text="${alunos.turno}"></td>
					
					<td>
						<a class="btn btn-primary" th:href="@{alterar/{id}(id=${alunos.id})}"><i class="fas fa-edit"></i> Editar</a>
						<a class="btn btn-primary" th:href="@{excluir/{id}(id=${alunos.id})}"><i class="fas fa-times"></i> Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>